.DS_Store
.env
.nycrc.json
.npmrc

/lib/
/coverage/
/test/__fixtures__/.temp/
/test/__fixtures__/e2e/**/coverage/
/test/__fixtures__/e2e/**/src/
/test/__fixtures__/e2e/**/test/

node_modules/
playground/
playground-ts/
